nav{
    height: 50px;
    background-color:  #ffe4e1;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 12px;
}
nav ul li a{
    text-decoration: none;
    font-size: 30px;
    color:  #d63384;
}